<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <title>BIOTHERM CC Training</title>
        <link rel="preload" as="font" href="./fonts/SourceHanSansCN-Medium.ttf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="./fonts/SourceHanSansCN-Bold.ttf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="./fonts/SourceHanSansCN-Heavy.ttf" type="font/otf" crossorigin="anonymous">
        <style>
            /* font */
            @font-face {
              font-family: "fontm"; 
              src: url("./fonts/SourceHanSansCN-Medium.ttf"); /* IE9 Compat Modes */
            }
            @font-face {
              font-family: "fontb"; 
              src: url("./fonts/SourceHanSansCN-Bold.ttf"); /* IE9 Compat Modes */
            }
            @font-face {
              font-family: "fonth"; 
              src: url("./fonts/SourceHanSansCN-Heavy.ttf"); /* IE9 Compat Modes */
            }
        </style>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
    </body>
</html>
