/* 2021/06/01 build */
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* ios 禁止高亮 */
    -webkit-font-smoothing: antialiased; /* 字体抗锯齿 */
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei";
    font-size: 0;
    background: #fff;
    overflow: hidden;
}

body, div, p, img, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button, select {
    text-transform: none;
    -webkit-appearance: none;
}

button,
[type="button"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring  {
    outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
    padding: 0; /* 2 */
}
