/* 2021/06/01 build */
:root {
    --white: #fff;
    --green: #64bc9d;
}
/* width */
.full-w {
    width: 100%;
}
.full-h {
    height: 100%;
}
.full-vh {
    height: 100vh;
}
/* pos */
.fixed {
	position: fixed;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
/* abs */
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
/* center */
.center {
	margin-left: auto;
	margin-right: auto;
}
.centerh {
    top: 50%;
    transform: translate3d(0, -50%, 0);
}
/* text */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.opacity0 {
    opacity: 0;
}
.hidden {
    visibility: hidden;
}
.hide {
	display: none;
}
.overflow {
    overflow: hidden;
}
/* pointer-events */
.pe-none {
    pointer-events: none;
}
/* fade */
.fade-enter {
    opacity: 0;
}
.fade-enter-to {
    opacity: 1;
}
.fade-enter-active {
    transition: 0.4s;
}
.fade-leave {
    opacity: 1;
}
.fade-leave-to {
    opacity: 0;
}
.fade-leave-active {
    transition: 0.4s;
}
/* modal */
.modal {
    z-index: 1;
}
/* animate */
@-webkit-keyframes updown {
    0% { transform: translateY(0px); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(0px); }
}
@keyframes updown {
    0% { transform: translateY(0px); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(0px); }
}
.bg-bottom1 {
    -webkit-animation: updown 4s linear infinite;
    animation: updown 4s linear infinite;
}
.bg-bottom2 {
    -webkit-animation: updown 4s linear 2s infinite;
    animation: updown 4s linear 2s infinite;
}
.bg-bottom3 {
    -webkit-animation: updown 4s linear 4s infinite;
    animation: updown 4s linear 4s infinite;
}
@-webkit-keyframes float {
    0% { transform: translate(0, 0); }
    25% { transform: translate(10px, -4px); }
    50% { transform: translate(12px, 0px); }
    75% { transform: translate(2px, 4px); }
    100% { transform: translate(0, 0); }
}
@keyframes float {
    0% { transform: translate(0, 0); }
    25% { transform: translate(10px, -4px); }
    50% { transform: translate(12px, 0px); }
    75% { transform: translate(2px, 4px); }
    100% { transform: translate(0, 0); }
}
.molecule {
    width: 13.334%;
}
.molecule1 {
    top: -12.4%;
    right: 9.6%;
    -webkit-animation: float 4s linear infinite;
    animation: float 4s linear infinite;
}
.molecule2 {
    top: 13.8%;
    left: 6.6%;
    -webkit-animation: float 4s linear 1s infinite;
    animation: float 4s linear 1s infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.06rem solid rgba(255, 255,255, 0.2);
    border-top: 0.06rem solid #fff;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.box-license {
    bottom: 0.1rem;
    color: #555;
    font-size: 0.24rem;
    line-height: 0.3rem;
    transform: scale(0.8);
    transform-origin: 50% 50%;
    z-index: 10;
    a {
        color: #555;
    }
    a:link {
        color: #555;
    }
    a:visited {
        color: #555;
    }
    a:hover {
        color: #555;
    }
    a:active {
        color: #555;
    }
    img {
        width: 12px;
        bottom: 2px;
        margin-right: 1%;
        vertical-align: bottom;
    }
}
