.page-fin {
	.logo {
		top: 2.6%;
	}
	.box-all {
		top: 10.4%;
		.box-fin {
			z-index: 1;
			.box-border {
				width: 65.6%;
				padding: 1.6%;
				background: var(--white);
				border: 0.02rem solid rgba(92, 92, 188, 0.5);
				border-radius: 0.35rem;
				.box-con {
					background: #eefcf6;
					border: 0.02rem solid rgba(92, 92, 188, 0.5);
					border-radius: 0.24rem;
					.btn-home {
						width: 43.479%;
						bottom: 26.6%;
					}
				}
			}
		}
		.box-banner {
			margin-top: -24.6%;
			.banner {
				z-index: 1;
			}
		}
	}
}
