.page-home {
	.bg-top {
		top: -2.6%;
	}
	.bottle {
		width: 10.667%;
		top: 87.4%;
		right: 23.8%;
		-webkit-animation: float 4s linear infinite;
		animation: float 4s linear infinite;
	}
	.logo {
		top: 2.6%;
	}
	.box-all {
		top: 8.8%;
		.box-banner {
			margin-top: 7.4%;
			.bg-banner {
				z-index: -1;
			}
			.green {
				width: 4.267%;
				top: 87.2%;
				left: 35.6%;
			}
			.btn-inter {
				width: 24.8%;
				top: 60%;
			}
		}
	}
}
