.box-pt {
	width: 92%;
	top: 3.6%;
	.box-progress {
		border-radius: 1rem;
		.bg-count {
			background: rgba(100, 188, 157, 0.2);
			img {
				width: 10.398%;
			}
		}
		.bar {
			background: var(--green);
			border-radius: 1rem;
			-webkit-transition: all 0.1s ease;
			transition: all 0.1s ease;
		}
	}
	.box-time {
		margin-top: 3.4%;
		color: var(--green);
		font-size: 0.24rem;
		line-height: 0.24rem;
		transform-origin: 50% 50%;
		transform: scale(0.8);
	}
}