.page-result {
	.logo {
		top: 2.6%;
	}
	.box-all {
		top: 9.9%;
		.box-text {
			.text1-2 {
				margin-top: 8%;
			}
			.text1-3 {
				margin-top: 7.2%;
			}
			.text2-1 {
				margin-top: 4%;
			}
			.text2-2 {
				margin-top: 7.6%;
			}
			.text2-3 {
				margin-top: 7.4%; /* 6.8% */
			}
		}
		.box-banner {
			margin-top: 5.6%;
		}
		.box-btns {
			margin-top: 2.6%;
			.btn-again, .btn-retest, .btn-review {
				width: 26.667%;
			}
			.btn-again, .btn-retest {
				margin-right: 10%;
			}
		}
		.shapes {
			margin-top: 3.4%;
		}
	}
}
