.modal-review {
	background: var(--white);
	.logo {
		top: 2.6%;
	}
	.box-all {
		top: 10.4%;
		.box-border {
			width: 65.6%;
			padding: 1.6%;
			background: var(--white);
			border: 0.02rem solid rgba(92, 92, 188, 0.5);
			border-radius: 0.35rem;
			.box-con {
				background: #eefcf6;
				border: 0.02rem solid rgba(92, 92, 188, 0.5);
				border-radius: 0.24rem;
				.titlem {
					top: 7.4%;
				}
				ul {
					height: 31%;
					top: 22.4%;
					overflow-y: scroll;
					li {
						display: inline-block;
						width: 16.74%;
						margin: 2.8% 3.6%;
					}
				}
				ul::-webkit-scrollbar {
					display: none;
				}
				.scrollbar {
					width: 0.1rem;
					height: 0%;
					top: 22.4%;
					right: 0.04rem;
					background: var(--green);
					border-radius: 1rem;
				}
				.box-detail {
					top: 56.2%;
				}
				.btn-retest {
					width: 43.479%;
					bottom: 8%;
				}
				.btn-close {
					width: 21.74%;
				}
			}
		}
		.box-banner {
			margin-top: -41.8%;
		}
	}
}
