.page-test {
	.logo {
		top: 3%;
	}
	.user {
		width: 12.8%;
		top: 1%;
		right: 3.6%;
	}
	.box-all {
		width: 82.134%;
		top: 8.6%;
		.box-cbt {
			.box-count {
				.box-num {
					width: 56%;
					.num {
						margin-right: 2%;
					}
				}
			}
			.box-bar {
				width: 91%;
				height: 0.14rem;
				margin-top: 1.2%;
				.swiper-pagination {
					border-radius: 0.04rem;
					z-index: 1;
				}
				.swiper-pagination-progress {
					background: rgba(115, 64, 152, 0.2);
				}
			}
			.box-time {
				margin-top: 2.2%;
				font-size: 0.24rem;
				line-height: 0.24rem;
				color: rgba(115, 64, 152, 0.5);
			}
		}
		.box-folder {
			margin-top: 11.2%;
			.box-bg {
				width: 93.669%;
				top: 2.2%;
				border-radius: 0.25rem;
				border: 0.02rem solid #271498;
				.box-swiper {
					height: 74%;
					top: 11%;
					.swiper-slide {
						padding: 8% 6% 1%;
						overflow-y: scroll;
	                    .q {
	                    	color: #362699;
	                    	font-size: 0.32rem;
	                    	line-height: 0.38rem;
	                    }
	                    .a {
	                    	label {
	                    		display: block;
	                    		margin-top: 8%;
	                    		padding: 4% 2% 4% 15%;
								color: #aab0c3;
								font-size: 0.24rem;
	                    		line-height: 0.28rem;
								background: #fff;
								border-radius: 0.12rem;
								border: 0.02rem solid #aab0c3;
								.icon-checked {
									width: 6.93%;
									left: 4.2%;
									visibility: hidden;
								}
	                    	}
	                    	input:checked + label {
	                    		color: #fff;
								background: #734098;
								border: 0.02rem solid #734098;
								.icon-checked {
									visibility: visible;
								}
	                    	}
	                    }
					}
					.swiper-slide::-webkit-scrollbar {
						width: 0.08rem;
						height: 1rem;
						-webkit-border-radius: 0.04rem;
						-moz-border-radius: 0.04rem;
						border-radius: 0.04rem;
					}
					.swiper-slide::-webkit-scrollbar-thumb {
						background-color: rgba(0, 0, 0, 0.3);
						background-clip: padding-box;
						-webkit-border-radius: 0.04rem;
						-moz-border-radius: 0.04rem;
						border-radius: 0.04rem;
						min-height: 1rem;
					}
					.swiper-slide::-webkit-scrollbar-thumb:hover {
						background-color: rgba(0, 0, 0, 0.3);
						-webkit-border-radius: 0.04rem;
						-moz-border-radius: 0.04rem;
						border-radius: 0.04rem;
					}
				}
			}
			.clip, .btn-progress, .btn-swiper {
				z-index: 2;
			}
			.clip {
				width: 39.94%;
				top: -6.8%;
			}
			.btn-progress {
				width: 27.111%;
				top: 4.6%;
				right: 6.6%;
			}
			.btn-swiper {
				width: 32.955%;
				bottom: 2%;
				background: none;
			}
			.btn-swiper.swiper-button-disabled {
				opacity: 0.5;
			}
			.btn-prev {
				left: 8%;
			}
			.btn-next {
				right: 8%;
			}
		}
	}
	.modal-progress {
		background: rgba(81, 85, 96, 0.14);
		.content {
			width: 88.934%;
			.titlem {
				top: 18.8%;
			}
			ul {
				top: 30.5%;
				li {
					display: inline-block;
					width: 16.492%;
					margin: 4.4% 0.5%;
				}
			}
			.btn-close {
				width: 16.192%;
				bottom: 7.2%;
			}
		}
	}
	.modal-loading {
		width: 2rem;
		height: 1rem;
		background: rgba(0, 0, 0, 0.6);
		border-radius: 0.08rem;
		.loader {
			top: 0.25rem;
		}
	}
	.box-test {
		top: 10%;
		.box-progress {
			width: 80%;
			height: 0.06rem;
		}
		.box-swiper {
			margin-top: 10%;
			.swiper-container {
				padding-top: 10%;
				padding-bottom: 10%;
				.swiper-slide {
					transform-origin: 50% -60%;
					.box-slide {
						width: 80%;
						border-radius: 0.2rem;
						border: 0.01rem solid silver;
						overflow: hidden;
						.text {
							display: grid;
							place-items: center;
							font-size: 0.4rem;
							line-height: 0.4rem;
						}
					}
				}
			}
		}
	}
}
