.page-test {
	.logo {
		top: 2.6%;
	}
	.box-all {
		top: 10.4%;
		.molecule, .btn-swiper, .box-banner {
		    transform: translate3d(0, 0, 0)!important;
		    z-index: 2;
		}
		.box-swiper {
			.box-border {
				width: 65.6%;
				padding: 1.6%;
				background: var(--white);
				border: 0.02rem solid rgba(92, 92, 188, 0.5);
				border-radius: 0.35rem;
				.box-con {
					background: #eefcf6;
					border: 0.02rem solid rgba(92, 92, 188, 0.5);
					border-radius: 0.24rem;
					.box-qa {
						height: 64%;
						top: 22%; /* 23% */
						padding: 0 5.5%;
						overflow-y: scroll;
						.q {
							font-family: "fontb";
							font-display: swap;
							color: var(--green);
	                    	font-size: 0.32rem;
	                    	line-height: 0.44rem;
	                    	.tnum {
	                    		display: none;
	                    	}
						}
						.a {
							input {
								display: none;
							}
							label.first {
								margin-top: 20%;
							}
	                    	label {
	                    		display: block;
	                    		margin-top: 5.8%;
	                    		padding: 2.5% 2.5% 2.5% 18%; /* 2.5% 2% 2.5% 20% */
	                    		font-family: "fontm";
	                    		font-display: swap;
								color: var(--green);
								font-size: 0.28rem;
	                    		line-height: 0.32rem;
								border-radius: 1rem;
								border: 0.02rem solid var(--green);
								span {
									position: absolute;
									top: 50%;
									left: 8%;
									transform: translate3d(0, -50%, 0);
								}
	                    	}
	                    	input:checked + label {
	                    		font-family: "fonth";
	                    		font-display: swap;
	                    		color: var(--white);
								background: var(--green);
	                    	}
	                    	.green {
	                    		text-decoration: underline;
	                    	}
	                    }
					}
					.box-qa::-webkit-scrollbar {
						width: 0.08rem;
						height: 1rem;
						-webkit-border-radius: 0.04rem;
						-moz-border-radius: 0.04rem;
						border-radius: 0.04rem;
					}
					.box-qa::-webkit-scrollbar-thumb {
						background-color: var(--green);
						background-clip: padding-box;
						-webkit-border-radius: 0.04rem;
						-moz-border-radius: 0.04rem;
						border-radius: 0.04rem;
						min-height: 1rem;
					}
					.box-qa::-webkit-scrollbar-thumb:hover {
						background-color: var(--green);
						-webkit-border-radius: 0.04rem;
						-moz-border-radius: 0.04rem;
						border-radius: 0.04rem;
					}
					.btn-progress {
						width: 35.218%;
						top: 86%;
						left: 4%;
					}
				}
			}
			.modal-progress {
				.titlem {
					top: 7.4%;
				}
				ul {
					top: 25%;
					li {
						display: inline-block;
						width: 16.74%;
						margin: 2.8% 3.6%;
					}
				}
				.btn-close {
					width: 21.74%;
				}
			}
			.modal-loading {
				width: 2rem;
				height: 1rem;
				background: rgba(0, 0, 0, 0.6);
				border-radius: 0.08rem;
				.loader {
					top: 0.25rem;
				}
			}
			@-webkit-keyframes leftright1 {
			    0% { transform: translateX(0); }
			    50% { transform: translateX(-6px); }
			    100% { transform: translateX(0); }
			}
			@keyframes leftright1 {
			    0% { transform: translateX(0); }
			    50% { transform: translateX(-6px); }
			    100% { transform: translateX(0); }
			}
			@-webkit-keyframes leftright2 {
			    0% { transform: translateX(0); }
			    50% { transform: translateX(6px); }
			    100% { transform: translateX(0); }
			}
			@keyframes leftright2 {
			    0% { transform: translateX(0); }
			    50% { transform: translateX(6px); }
			    100% { transform: translateX(0); }
			}
			.btn-swiper {
				background: none;
			}
			.btn-swiper.swiper-button-disabled {
				visibility: hidden;
			}
			.btn-prev {
				width: 7.734%;
				top: 44.3%;
				left: 5.3%;
				-webkit-animation: leftright1 1s linear infinite;
			    animation: leftright1 1s linear infinite;
			}
			.btn-next {
				width: 7.734%;
				top: 44.4%;
				right: 5.5%;
				-webkit-animation: leftright2 1s linear infinite;
			    animation: leftright2 1s linear infinite;
			}
		}
		.box-banner {
			margin-top: -41.6%;
		}
	}
	.font-test {
		font-family: "fonth";
		color: var(--white);
		font-size: 0.24rem;
	}
}
