<style lang="scss" scoped src="@/assets/css/home.scss"></style>

<template>
	<div class="page-home full-vh rel">
		<!-- bg -->
		<img class="bg-top full-w abs left" src="@/assets/img/common/bg-top.png">
		<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/common/bg-bottom1.png">
        <img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/common/bg-bottom2.png">
        <img class="bottle abs" src="@/assets/img/home/bottle.png">
		<!-- logo -->
		<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
		<div class="box-all full-w abs left">
			<!-- title -->
			<img class="title rel full-w" src="@/assets/img/home/title.png" alt="碧欧泉男士护肤峰会之大师赛 竞赛测试">
			<div class="box-banner rel">
	        	<img class="full-w" src="@/assets/img/home/banner.png">
	        	<img class="bg-banner rel full-w" src="@/assets/img/home/bg-banner.png">
	        	<img class="green abs" src="@/assets/img/common/green.png">
	        	<img class="btn-inter abs left right center" src="@/assets/img/home/btn-inter.png" alt="点击进入" @click="inter">
	        </div>
		</div>
		<!-- license -->
        <div class="box-license full-w abs left text-center">
            <p>©L'Oreal China 欧莱雅 (中国)有限公司版权所有</p>
            <a href="http://wap.scjgj.sh.gov.cn/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020190725104930000004878268-SAIC_SHOW_310000-20120625151312891511&amp;signData=MEUCIQD8CbKY2AHDXG6vvZUiEQ9I7Lu8kbhHJMS1WIzTQ9rzRwIgPd8C98fj5Ho3P7ZkwdOeBc6wbeEsLuPM921ReyLZ0+g=">
                <img class="rel" src="@/assets/img/common/icp1.jpg">上海工商
            </a>
            <a href="https://beian.miit.gov.cn/#/Integrated/index"> 沪ICP备08100043号-26</a>
            <br />
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602001504">
                <img class="rel" src="@/assets/img/common/icp2.png">沪公网安备 31010602001504号
            </a>
        </div>
	</div>
</template>

<script src="@/assets/js/home.js"></script>
