<style lang="scss" scoped src="@/assets/css/loading.scss"></style>

<template>
	<div class="page-loading full-vh rel">
        <!-- bg -->
        <img class="bg-top full-w abs left" src="@/assets/img/common/bg-top.png">
        <img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/common/bg-bottom1.png">
        <img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/common/bg-bottom2.png">
        <img class="bottle1 abs" src="@/assets/img/loading/bottle1.png">
        <img class="green1 abs" src="@/assets/img/common/green.png">
        <img class="green2 abs" src="@/assets/img/common/green.png">
        <img class="bottle2 abs" src="@/assets/img/loading/bottle2.png">
        <!-- logo -->
        <img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
        <div class="box-all full-w abs left">
            <img class="full-w" src="@/assets/img/loading/banner.png">
            <div class="box-progress overflow">
                <div class="bar full-h"></div>
            </div>
            <div class="box-percent text-center"><span class="percent">0</span>%...</div>
        </div>
        <!-- license -->
        <div class="box-license full-w abs left text-center">
            <p>©L'Oreal China 欧莱雅 (中国)有限公司版权所有</p>
            <a href="http://wap.scjgj.sh.gov.cn/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020190725104930000004878268-SAIC_SHOW_310000-20120625151312891511&amp;signData=MEUCIQD8CbKY2AHDXG6vvZUiEQ9I7Lu8kbhHJMS1WIzTQ9rzRwIgPd8C98fj5Ho3P7ZkwdOeBc6wbeEsLuPM921ReyLZ0+g=">
                <img class="rel" src="@/assets/img/common/icp1.jpg">上海工商
            </a>
            <a href="https://beian.miit.gov.cn/#/Integrated/index"> 沪ICP备08100043号-26</a>
            <br />
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602001504">
                <img class="rel" src="@/assets/img/common/icp2.png">沪公网安备 31010602001504号
            </a>
        </div>
	</div>
</template>

<script src="@/assets/js/loading.js"></script>
