<style lang="scss" scoped src="@/assets/css/result.scss"></style>

<template>
	<div class="page-result full-vh rel">
		<!-- bg -->
		<img class="bg-top full-w abs top left" src="@/assets/img/result/bg-top.png">
		<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/result/bg-bottom1.png">
		<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/result/bg-bottom2.png">
		<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/result/bg-bottom3.png">
		<!-- logo -->
		<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
		<div class="box-all full-w abs left">
			<div class="box-text">
				<div v-if="score >= 60">
					<img class="full-w text1-1" src="@/assets/img/result/text1-1.png">
					<img class="full-w text1-2" src="@/assets/img/result/text1-2.png">
					<img class="full-w text1-3" src="@/assets/img/result/text1-3.png">
				</div>
				<div v-else>
					<img class="full-w text2-1" src="@/assets/img/result/text2-1.png">
					<img class="full-w text2-2" src="@/assets/img/result/text2-2.png">
					<img class="full-w text2-3" src="@/assets/img/result/text2-3.png">
				</div>
			</div>
			<div class="box-banner">
				<img v-if="score >= 60" class="full-w" src="@/assets/img/result/banner1.png">
				<img v-else class="full-w" src="@/assets/img/result/banner2.png">
			</div>
			<div class="box-btns text-center">
				<img v-if="score >= 60" class="btn-again" src="@/assets/img/result/btn-again.png" @click="toHome">
				<img v-else class="btn-retest" src="@/assets/img/common/btn-retest.png" @click="toHome">
				<img class="btn-review" src="@/assets/img/result/btn-review.png" @click="toReview">
			</div>
			<img class="shapes full-w" src="@/assets/img/result/shapes.png">
		</div>
		<review :param="modalReviewShow" @paramChange="closeModal"></review>
		<!-- license -->
        <div class="box-license full-w abs left text-center">
            <p>©L'Oreal China 欧莱雅 (中国)有限公司版权所有</p>
            <a href="http://wap.scjgj.sh.gov.cn/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020190725104930000004878268-SAIC_SHOW_310000-20120625151312891511&amp;signData=MEUCIQD8CbKY2AHDXG6vvZUiEQ9I7Lu8kbhHJMS1WIzTQ9rzRwIgPd8C98fj5Ho3P7ZkwdOeBc6wbeEsLuPM921ReyLZ0+g=">
                <img class="rel" src="@/assets/img/common/icp1.jpg">上海工商
            </a>
            <a href="https://beian.miit.gov.cn/#/Integrated/index"> 沪ICP备08100043号-26</a>
            <br />
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602001504">
                <img class="rel" src="@/assets/img/common/icp2.png">沪公网安备 31010602001504号
            </a>
        </div>
	</div>
</template>

<script src="@/assets/js/result.js"></script>
