<style lang="scss" scoped src="@/assets/css/test.scss"></style>
<style scoped src="../../public/vendor/swiper/swiper.min.css"></style>

<template>
	<div class="page-test full-vh rel">
		<div class="box-test full-w abs left right center">
			<button @click="toSlide(10)">跳转</button>
			<div class="box-progress rel center">
				<div class="swiper-pagination full-w full-h"></div>
			</div>
			<div class="box-swiper">
				<div class="swiper-container st">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">1</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">2</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">3</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">4</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">5</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">6</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">7</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">8</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">9</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">10</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">11</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="box-slide rel center">
								<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
								<div class="text full-w full-h abs top left">12</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script src="@/assets/js/test.js"></script>
