<style lang="scss" scoped src="@/assets/css/test.scss"></style>
<style scoped src="../../public/vendor/swiper/swiper.min.css"></style>

<template>
	<div class="page-test full-vh rel">
        <!-- bg -->
		<img class="full-w abs top left" src="@/assets/img/common/bg-top.png">
		<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/common/bg-bottom3.png">
		<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/common/bg-bottom4.png">
		<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/common/bg-bottom5.png">
		<!-- logo -->
		<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
		<div class="box-all full-w abs left">
			<div class="box-swiper rel">
				<div class="swiper-container qas">
					<div class="swiper-wrapper">
						<!-- q1 -->
						<div v-if="qArr.a1 != undefined && qArr.a1 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q1"><span class="tnum">1.</span>目前，大约多少男性有护肤的习惯？</div>
										<div class="a a1">
			                                <input type="radio" id="A1" value="A" name="a1" />
			                                <label for="A1" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>70%
			                                </label>
			                                <input type="radio" id="B1" value="B" name="a1" />
			                                <label for="B1" class="rel" @click="answerFun($event)">
			                                	<span>B</span>80%
			                                </label>
			                                <input type="radio" id="C1" value="C" name="a1" />
			                                <label for="C1" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>90%
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q2 -->
						<div v-if="qArr.a2 != undefined && qArr.a2 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q2"><span class="tnum">2.</span>男性对护肤最首要的需求是？</div>
										<div class="a a2">
			                                <input type="radio" id="A2" value="A" name="a2" />
			                                <label for="A2" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>干净清爽
			                                </label>
			                                <input type="radio" id="B2" value="B" name="a2" />
			                                <label for="B2" class="rel" @click="answerFun($event)">
			                                	<span>B</span>抗老
			                                </label>
			                                <input type="radio" id="C2" value="C" name="a2" />
			                                <label for="C2" class="rel" @click="answerFun($event)">
			                                	<span>C</span>美白提亮
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q3 -->
						<div v-if="qArr.a3 != undefined && qArr.a3 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q3"><span class="tnum">3.</span>日常护肤中，男性使用最多的护肤单品是？</div>
										<div class="a a3">
			                                <input type="radio" id="A3" value="A" name="a3" />
			                                <label for="A3" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>乳液
			                                </label>
			                                <input type="radio" id="B3" value="B" name="a3" />
			                                <label for="B3" class="rel" @click="answerFun($event)">
			                                	<span>B</span>爽肤水
			                                </label>
			                                <input type="radio" id="C3" value="C" name="a3" />
			                                <label for="C3" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>洗面奶
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q4 -->
						<div v-if="qArr.a4 != undefined && qArr.a4 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q4"><span class="tnum">4.</span>当下男士护肤市场消费主力军的年龄段是？</div>
										<div class="a a4">
			                                <input type="radio" id="A4" value="A" name="a4" />
			                                <label for="A4" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>80-85后
			                                </label>
			                                <input type="radio" id="B4" value="B" name="a4" />
			                                <label for="B4" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>90-95后
			                                </label>
			                                <input type="radio" id="C4" value="C" name="a4" />
			                                <label for="C4" class="rel" @click="answerFun($event)">
			                                	<span>C</span>80-90后
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q5 -->
						<div v-if="qArr.a5 != undefined && qArr.a5 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q5"><span class="tnum">5.</span>超过一半的男士在购买护肤品时愿意选择</div>
										<div class="a a5">
			                                <input type="radio" id="A5" value="A" name="a5" />
			                                <label for="A5" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>只买男性专属品牌
			                                </label>
			                                <input type="radio" id="B5" value="B" name="a5" />
			                                <label for="B5" class="rel" @click="answerFun($event)">
			                                	<span>B</span>优先购买男士品牌，部分产品选择中性/女性品牌
			                                </label>
			                                <input type="radio" id="C5" value="C" name="a5" />
			                                <label for="C5" class="rel" @click="answerFun($event)">
			                                	<span>C</span>完全无所谓是否男士专属
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q6 -->
						<div v-if="qArr.a6 != undefined && qArr.a6 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q6"><span class="tnum">6.</span>男士肌肤在夏季比女士多出油____%</div>
										<div class="a a6">
			                                <input type="radio" id="A6" value="A" name="a6" />
			                                <label for="A6" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>70%
			                                </label>
			                                <input type="radio" id="B6" value="B" name="a6" />
			                                <label for="B6" class="rel" @click="answerFun($event)">
			                                	<span>B</span>50%
			                                </label>
			                                <input type="radio" id="C6" value="C" name="a6" />
			                                <label for="C6" class="rel" @click="answerFun($event)">
			                                	<span>C</span>60%
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q7 -->
						<div v-if="qArr.a7 != undefined && qArr.a7 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q7"><span class="tnum">7.</span>男士肌肤比女士水分流失多____%</div>
										<div class="a a7">
			                                <input type="radio" id="A7" value="A" name="a7" />
			                                <label for="A7" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>30%
			                                </label>
			                                <input type="radio" id="B7" value="B" name="a7" />
			                                <label for="B7" class="rel" @click="answerFun($event)">
			                                	<span>B</span>12%
			                                </label>
			                                <input type="radio" id="C7" value="C" name="a7" />
			                                <label for="C7" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>5%
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q8 -->
						<div v-if="qArr.a8 != undefined && qArr.a8 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q8"><span class="tnum">8.</span>男士肌肤比女士肌肤厚____%</div>
										<div class="a a8">
			                                <input type="radio" id="A8" value="A" name="a8" />
			                                <label for="A8" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>26%
			                                </label>
			                                <input type="radio" id="B8" value="B" name="a8" />
			                                <label for="B8" class="rel" @click="answerFun($event)">
			                                	<span>B</span>34%
			                                </label>
			                                <input type="radio" id="C8" value="C" name="a8" />
			                                <label for="C8" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>13%
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q9 -->
						<div v-if="qArr.a9 != undefined && qArr.a9 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q9"><span class="tnum">9.</span>男士肌肤比女士代谢慢____%</div>
										<div class="a a9">
			                                <input type="radio" id="A9" value="A" name="a9" />
			                                <label for="A9" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>5%
			                                </label>
			                                <input type="radio" id="B9" value="B" name="a9" />
			                                <label for="B9" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>15%
			                                </label>
			                                <input type="radio" id="C9" value="C" name="a9" />
			                                <label for="C9" class="rel" @click="answerFun($event)">
			                                	<span>C</span>25%
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q10 -->
						<div v-if="qArr.a10 != undefined && qArr.a10 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q10"><span class="tnum">10.</span>过了什么年龄，男性的衰老迹象会快速显现？</div>
										<div class="a a10">
			                                <input type="radio" id="A10" value="A" name="a10" />
			                                <label for="A10" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>35岁
			                                </label>
			                                <input type="radio" id="B10" value="B" name="a10" />
			                                <label for="B10" class="rel" @click="answerFun($event)">
			                                	<span>B</span>45岁
			                                </label>
			                                <input type="radio" id="C10" value="C" name="a10" />
			                                <label for="C10" class="rel" @click="answerFun($event)">
			                                	<span>C</span>25岁
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q11 -->
						<div v-if="qArr.a11 != undefined && qArr.a11 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q11"><span class="tnum">11.</span>男士哪种纹路是唯一严重于女性的纹路？</div>
										<div class="a a11">
			                                <input type="radio" id="A11" value="A" name="a11" />
			                                <label for="A11" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>木偶纹
			                                </label>
			                                <input type="radio" id="B11" value="B" name="a11" />
			                                <label for="B11" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>鱼尾纹
			                                </label>
			                                <input type="radio" id="C11" value="C" name="a11" />
			                                <label for="C11" class="rel" @click="answerFun($event)">
			                                	<span>C</span>抬头纹
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q12 -->
						<div v-if="qArr.a12 != undefined && qArr.a12 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q12"><span class="tnum">12.</span>男士须后用什么温度的水洗脸最佳？</div>
										<div class="a a12">
			                                <input type="radio" id="A12" value="A" name="a12" />
			                                <label for="A12" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>热水
			                                </label>
			                                <input type="radio" id="B12" value="B" name="a12" />
			                                <label for="B12" class="rel" @click="answerFun($event)">
			                                	<span>B</span>冷水
			                                </label>
			                                <input type="radio" id="C12" value="C" name="a12" />
			                                <label for="C12" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>温水
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q13 -->
						<div v-if="qArr.a13 != undefined && qArr.a13 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q13"><span class="tnum">13.</span>男性肌肤容易出油的本质原因是？</div>
										<div class="a a13">
			                                <input type="radio" id="A13" value="A" name="a13" />
			                                <label for="A13" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>男性荷尔蒙和激素关系
			                                </label>
			                                <input type="radio" id="B13" value="B" name="a13" />
			                                <label for="B13" class="rel" @click="answerFun($event)">
			                                	<span>B</span>肌肤内在水油不平衡
			                                </label>
			                                <input type="radio" id="C13" value="C" name="a13" />
			                                <label for="C13" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>以上两者都是
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q14 -->
						<div v-if="qArr.a14 != undefined && qArr.a14 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q14"><span class="tnum">14.</span>男士肌肤出现老化迹象后，难以淡化的原因是？</div>
										<div class="a a14">
			                                <input type="radio" id="A14" value="A" name="a14" />
			                                <label for="A14" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>肌肤新生力弱
			                                </label>
			                                <input type="radio" id="B14" value="B" name="a14" />
			                                <label for="B14" class="rel" @click="answerFun($event)">
			                                	<span>B</span>肌肤角质层过厚
			                                </label>
			                                <input type="radio" id="C14" value="C" name="a14" />
			                                <label for="C14" class="rel" @click="answerFun($event)">
			                                	<span>C</span>肌肤内在水油不平衡
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q15 -->
						<div v-if="qArr.a15 != undefined && qArr.a15 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q15"><span class="tnum">15.</span>男士最好选择男性专属护肤品的根本原因是？</div>
										<div class="a a15">
			                                <input type="radio" id="A15" value="A" name="a15" />
			                                <label for="A15" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>男士护肤品中激素较少，更适合男士使用
			                                </label>
			                                <input type="radio" id="B15" value="B" name="a15" />
			                                <label for="B15" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>男士肌肤较厚，男士的护肤品质地更能够渗透且无粘腻感
			                                </label>
			                                <input type="radio" id="C15" value="C" name="a15" />
			                                <label for="C15" class="rel" @click="answerFun($event)">
			                                	<span>C</span>男士肌肤需要的功效较少，没有女士那么复杂
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q16 -->
						<div v-if="qArr.a16 != undefined && qArr.a16 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q16"><span class="tnum">16.</span>使用完碧欧泉水动力保湿乳，8小时后，肌肤水润度会出现什么变化？</div>
										<div class="a a16">
			                                <input type="radio" id="A16" value="A" name="a16" />
			                                <label for="A16" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>只下降一半
			                                </label>
			                                <input type="radio" id="B16" value="B" name="a16" />
			                                <label for="B16" class="rel" @click="answerFun($event)">
			                                	<span>B</span>只降低一点
			                                </label>
			                                <input type="radio" id="C16" value="C" name="a16" />
			                                <label for="C16" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>不降反升
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q17 -->
						<div v-if="qArr.a17 != undefined && qArr.a17 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q17"><span class="tnum">17.</span>碧欧泉水动力保湿乳使用1分钟后可以降温___℃？</div>
										<div class="a a17">
			                                <input type="radio" id="A17" value="A" name="a17" />
			                                <label for="A17" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>2.1°C
			                                </label>
			                                <input type="radio" id="B17" value="B" name="a17" />
			                                <label for="B17" class="rel" @click="answerFun($event)">
			                                	<span>B</span>3.1°C
			                                </label>
			                                <input type="radio" id="C17" value="C" name="a17" />
			                                <label for="C17" class="rel" @click="answerFun($event)">
			                                	<span>C</span>4.1°C
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q18 -->
						<div v-if="qArr.a18 != undefined && qArr.a18 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q18"><span class="tnum">18.</span>碧欧泉男士产品质地清爽不粘腻的秘密是？</div>
										<div class="a a18">
			                                <input type="radio" id="A18" value="A" name="a18" />
			                                <label for="A18" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>硅成分快速成膜
			                                </label>
			                                <input type="radio" id="B18" value="B" name="a18" />
			                                <label for="B18" class="rel" @click="answerFun($event)">
			                                	<span>B</span>减少成分中油的配比
			                                </label>
			                                <input type="radio" id="C18" value="C" name="a18" />
			                                <label for="C18" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>拥有零乳化剂科技
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q19 -->
						<div v-if="qArr.a19 != undefined && qArr.a19 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q19"><span class="tnum">19.</span>碧欧泉水动力拥有独特的补水科技是？</div>
										<div class="a a19">
			                                <input type="radio" id="A19" value="A" name="a19" />
			                                <label for="A19" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>5000公升温泉水纳米级注入
			                                </label>
			                                <input type="radio" id="B19" value="B" name="a19" />
			                                <label for="B19" class="rel" @click="answerFun($event)">
			                                	<span>B</span>1/10保湿分子渗透
			                                </label>
			                                <input type="radio" id="C19" value="C" name="a19" />
			                                <label for="C19" class="rel" @click="answerFun($event)">
			                                	<span>C</span>大量透明质酸注入
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q20 -->
						<div v-if="qArr.a20 != undefined && qArr.a20 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q20"><span class="tnum">20.</span>碧欧泉蓝钻系列最核心的抗老成分是？</div>
										<div class="a a20">
			                                <input type="radio" id="A20" value="A" name="a20" />
			                                <label for="A20" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>A醇
			                                </label>
			                                <input type="radio" id="B20" value="B" name="a20" />
			                                <label for="B20" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>玻色因
			                                </label>
			                                <input type="radio" id="C20" value="C" name="a20" />
			                                <label for="C20" class="rel" @click="answerFun($event)">
			                                	<span>C</span>玻尿酸
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q21 -->
						<div v-if="qArr.a21 != undefined && qArr.a21 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q21"><span class="tnum">21.</span>使用碧欧泉蓝钻系列，4周后可以淡化____%纹路？</div>
										<div class="a a21">
			                                <input type="radio" id="A21" value="A" name="a21" />
			                                <label for="A21" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>20%
			                                </label>
			                                <input type="radio" id="B21" value="B" name="a21" />
			                                <label for="B21" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>40%
			                                </label>
			                                <input type="radio" id="C21" value="C" name="a21" />
			                                <label for="C21" class="rel" @click="answerFun($event)">
			                                	<span>C</span>60%
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q22 -->
						<div v-if="qArr.a22 != undefined && qArr.a22 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q22"><span class="tnum">22.</span>碧欧泉男士的哪款洁面是带有颗粒的？</div>
										<div class="a a22">
			                                <input type="radio" id="A22" value="A" name="a22" />
			                                <label for="A22" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>水动力系列
			                                </label>
			                                <input type="radio" id="B22" value="B" name="a22" />
			                                <label for="B22" class="rel" @click="answerFun($event)">
			                                	<span>B</span>净肤细致系列
			                                </label>
			                                <input type="radio" id="C22" value="C" name="a22" />
			                                <label for="C22" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>净肤细致系列和蓝钻系列
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q23 -->
						<div v-if="qArr.a23 != undefined && qArr.a23 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q23"><span class="tnum">23.</span>碧欧泉蓝钻系列的核心功效是？</div>
										<div class="a a23">
			                                <input type="radio" id="A23" value="A" name="a23" />
			                                <label for="A23" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>紧致轮廓，强效淡纹
			                                </label>
			                                <input type="radio" id="B23" value="B" name="a23" />
			                                <label for="B23" class="rel" @click="answerFun($event)">
			                                	<span>B</span>加速肌肤新生，促进代谢
			                                </label>
			                                <input type="radio" id="C23" value="C" name="a23" />
			                                <label for="C23" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>以上都是
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q24 -->
						<div v-if="qArr.a24 != undefined && qArr.a24 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q24"><span class="tnum">24.</span>碧欧泉净肤控油系列可以达到多少小时的控油效果？</div>
										<div class="a a24">
			                                <input type="radio" id="A24" value="A" name="a24" />
			                                <label for="A24" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>4小时
			                                </label>
			                                <input type="radio" id="B24" value="B" name="a24" />
			                                <label for="B24" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>8小时
			                                </label>
			                                <input type="radio" id="C24" value="C" name="a24" />
			                                <label for="C24" class="rel" @click="answerFun($event)">
			                                	<span>C</span>24小时
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q25 -->
						<div v-if="qArr.a25 != undefined && qArr.a25 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q25"><span class="tnum">25.</span>碧欧泉男士防晒霜的核心科技是？</div>
										<div class="a a25">
			                                <input type="radio" id="A25" value="A" name="a25" />
			                                <label for="A25" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>麦色滤科技全波段防晒
			                                </label>
			                                <input type="radio" id="B25" value="B" name="a25" />
			                                <label for="B25" class="rel" @click="answerFun($event)">
			                                	<span>B</span>全光谱防晒
			                                </label>
			                                <input type="radio" id="C25" value="C" name="a25" />
			                                <label for="C25" class="rel" @click="answerFun($event)">
			                                	<span>C</span>物理+化学+生物防
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q26 -->
						<div v-if="qArr.a26 != undefined && qArr.a26 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q26"><span class="tnum">26.</span>针对挑选护肤产品速战速决型的男性消费者，应该采取的销售策略是？</div>
										<div class="a a26">
			                                <input type="radio" id="A26" value="A" name="a26" />
			                                <label for="A26" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>耐心种草护肤入门必备品
			                                </label>
			                                <input type="radio" id="B26" value="B" name="a26" />
			                                <label for="B26" class="rel" @click="answerFun($event)">
			                                	<span>B</span>详细介绍产品成分功效
			                                </label>
			                                <input type="radio" id="C26" value="C" name="a26" />
			                                <label for="C26" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>快速指出肌肤问题，满足客人需求
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q27 -->
						<div v-if="qArr.a27 != undefined && qArr.a27 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q27"><span class="tnum">27.</span>针对对于护肤毫无意识的男性消费者，应该采取的销售策略是？</div>
										<div class="a a27">
			                                <input type="radio" id="A27" value="A" name="a27" />
			                                <label for="A27" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>着重渲染产品功效
			                                </label>
			                                <input type="radio" id="B27" value="B" name="a27" />
			                                <label for="B27" class="rel" @click="answerFun($event)">
			                                	<span>B</span>强势灌输购买护肤的必要
			                                </label>
			                                <input type="radio" id="C27" value="C" name="a27" />
			                                <label for="C27" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>耐心种草护肤入门必备品
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q28 -->
						<div v-if="qArr.a28 != undefined && qArr.a28 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q28"><span class="tnum">28.</span>针对护肤达人型男性消费者，我们的销售策略是？</div>
										<div class="a a28">
			                                <input type="radio" id="A28" value="A" name="a28" />
			                                <label for="A28" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>认同他的护肤选择，并加以引导专业男士产品
			                                </label>
			                                <input type="radio" id="B28" value="B" name="a28" />
			                                <label for="B28" class="rel" @click="answerFun($event)">
			                                	<span>B</span>反驳他对护肤品的认识
			                                </label>
			                                <input type="radio" id="C28" value="C" name="a28" />
			                                <label for="C28" class="rel" @click="answerFun($event)">
			                                	<span>C</span>一直给出自己的建议
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q29 -->
						<div v-if="qArr.a29 != undefined && qArr.a29 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q29"><span class="tnum">29.</span>针对帮男士买护肤品的女性消费者，我们的销售策略是？</div>
										<div class="a a29">
			                                <input type="radio" id="A29" value="A" name="a29" />
			                                <label for="A29" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>详细介绍男士产品的成分和功效
			                                </label>
			                                <input type="radio" id="B29" value="B" name="a29" />
			                                <label for="B29" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>简单明了推荐礼盒，打造送礼场景
			                                </label>
			                                <input type="radio" id="C29" value="C" name="a29" />
			                                <label for="C29" class="rel" @click="answerFun($event)">
			                                	<span>C</span>强势销售整个系列
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q30 -->
						<div v-if="qArr.a30 != undefined && qArr.a30 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q30"><span class="tnum">30.</span>想让女士客人连带购买男士护肤品，我们的销售策略是？</div>
										<div class="a a30">
			                                <input type="radio" id="A30" value="A" name="a30" />
			                                <label for="A30" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>强调男士护肤的重要性，销售一整个系列
			                                </label>
			                                <input type="radio" id="B30" value="B" name="a30" />
			                                <label for="B30" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>通过情感和优惠，冲击女性消费者，引导连带
			                                </label>
			                                <input type="radio" id="C30" value="C" name="a30" />
			                                <label for="C30" class="rel" @click="answerFun($event)">
			                                	<span>C</span>只介绍礼盒和优惠力度，让她多囤货
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q31 -->
						<div v-if="qArr.a31 != undefined && qArr.a31 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q31"><span class="tnum">31.</span>挑选护肤产品速战速决型的男士喜欢的沟通的方式是？</div>
										<div class="a a31">
			                                <input type="radio" id="A31" value="A" name="a31" />
			                                <label for="A31" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>简单快速明了
			                                </label>
			                                <input type="radio" id="B31" value="B" name="a31" />
			                                <label for="B31" class="rel" @click="answerFun($event)">
			                                	<span>B</span>耐心解释
			                                </label>
			                                <input type="radio" id="C31" value="C" name="a31" />
			                                <label for="C31" class="rel" @click="answerFun($event)">
			                                	<span>C</span>非常热情友好
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q32 -->
						<div v-if="qArr.a32 != undefined && qArr.a32 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q32"><span class="tnum">32.</span>对于护肤毫无意识的男性消费者最可能种草什么</div>
										<div class="a a32">
			                                <input type="radio" id="A32" value="A" name="a32" />
			                                <label for="A32" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>护肤必备单品，比如洁面
			                                </label>
			                                <input type="radio" id="B32" value="B" name="a32" />
			                                <label for="B32" class="rel" @click="answerFun($event)">
			                                	<span>B</span>网红新品
			                                </label>
			                                <input type="radio" id="C32" value="C" name="a32" />
			                                <label for="C32" class="rel" @click="answerFun($event)">
			                                	<span>C</span>成套选择
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q33 -->
						<div v-if="qArr.a33 != undefined && qArr.a33 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q33"><span class="tnum">33.</span>如何快速打动护肤达人型男性消费者？</div>
										<div class="a a33">
			                                <input type="radio" id="A33" value="A" name="a33" />
			                                <label for="A33" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>表现出比他更专业
			                                </label>
			                                <input type="radio" id="B33" value="B" name="a33" />
			                                <label for="B33" class="rel" @click="answerFun($event)">
			                                	<span>B</span>默默跟着，不打扰
			                                </label>
			                                <input type="radio" id="C33" value="C" name="a33" />
			                                <label for="C33" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>认可赞同他的护肤理念，积极沟通
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q34 -->
						<div v-if="qArr.a34 != undefined && qArr.a34 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q34"><span class="tnum">34.</span>让男性消费者直观感受到产品功效的行为是？</div>
										<div class="a a34">
			                                <input type="radio" id="A34" value="A" name="a34" />
			                                <label for="A34" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>讲解成分
			                                </label>
			                                <input type="radio" id="B34" value="B" name="a34" />
			                                <label for="B34" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>试用产品
			                                </label>
			                                <input type="radio" id="C34" value="C" name="a34" />
			                                <label for="C34" class="rel" @click="answerFun($event)">
			                                	<span>C</span>突出功效
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q35 -->
						<div v-if="qArr.a35 != undefined && qArr.a35 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q35"><span class="tnum">35.</span>挑选护肤产品速战速决型的男士在购买护肤品时的内心活动是？</div>
										<div class="a a35">
			                                <input type="radio" id="A35" value="A" name="a35" />
			                                <label for="A35" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>“都已经看好了，买好就行，不用说太多”
			                                </label>
			                                <input type="radio" id="B35" value="B" name="a35" />
			                                <label for="B35" class="rel" @click="answerFun($event)">
			                                	<span>B</span>“需要了解一下自己的肌肤问题，再进行选择”
			                                </label>
			                                <input type="radio" id="C35" value="C" name="a35" />
			                                <label for="C35" class="rel" @click="answerFun($event)">
			                                	<span>C</span>“想来看小红书推荐的爆品，试一下”
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q36 -->
						<div v-if="qArr.a36 != undefined && qArr.a36 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q36"><span class="tnum">36.</span>最容易连带给女性消费者的男士护肤单品是？</div>
										<div class="a a36">
			                                <input type="radio" id="A36" value="A" name="a36" />
			                                <label for="A36" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>爽肤水
			                                </label>
			                                <input type="radio" id="B36" value="B" name="a36" />
			                                <label for="B36" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>洁面
			                                </label>
			                                <input type="radio" id="C36" value="C" name="a36" />
			                                <label for="C36" class="rel" @click="answerFun($event)">
			                                	<span>C</span>乳液
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q37 -->
						<div v-if="qArr.a37 != undefined && qArr.a37 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q37"><span class="tnum">37.</span>男性护肤小白入门最容易产生的误区是？</div>
										<div class="a a37">
			                                <input type="radio" id="A37" value="A" name="a37" />
			                                <label for="A37" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>“认为少涂就可以最清爽，最不粘”
			                                </label>
			                                <input type="radio" id="B37" value="B" name="a37" />
			                                <label for="B37" class="rel" @click="answerFun($event)">
			                                	<span>B</span>“以为多洗脸，频繁用吸油纸，皮肤就不油了”
			                                </label>
			                                <input type="radio" id="C37" value="C" name="a37" />
			                                <label for="C37" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>以上都是
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q38 -->
						<div v-if="qArr.a38 != undefined && qArr.a38 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q38"><span class="tnum">38.</span>男士洁面后，一定要搭配后续护肤，最重要的原因是因为？</div>
										<div class="a a38">
			                                <input type="radio" id="A38" value="A" name="a38" />
			                                <label for="A38" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>洁面后毛孔张开，容易进入油脂，污染等，更容易引发肌肤问题
			                                </label>
			                                <input type="radio" id="B38" value="B" name="a38" />
			                                <label for="B38" class="rel" @click="answerFun($event)">
			                                	<span>B</span>洁面后肌肤会非常紧绷，干涩
			                                </label>
			                                <input type="radio" id="C38" value="C" name="a38" />
			                                <label for="C38" class="rel" @click="answerFun($event)">
			                                	<span>C</span>没有清洁干净，需要二次清洁
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q39 -->
						<div v-if="qArr.a39 != undefined && qArr.a39 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q39"><span class="tnum">39.</span>男士MASTER活动的重要愿景是？</div>
										<div class="a a39">
			                                <input type="radio" id="A39" value="A" name="a39" />
			                                <label for="A39" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>抢占男士市场跑道，扩大男士市场份额
			                                </label>
			                                <input type="radio" id="B39" value="B" name="a39" />
			                                <label for="B39" class="rel" @click="answerFun($event)">
			                                	<span>B</span>让自己变得更专业，更高效得销售男士品类
			                                </label>
			                                <input type="radio" id="C39" value="C" name="a39" />
			                                <label for="C39" class="rel green" @click="answerFun($event)">
			                                	<span>C</span>以上都是
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q40 -->
						<div v-if="qArr.a40 != undefined && qArr.a40 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q40"><span class="tnum">40.</span>男士MASTER的门店考核分数包含？</div>
										<div class="a a40">
			                                <input type="radio" id="A40" value="A" name="a40" />
			                                <label for="A40" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>线上考核平均分+线上直播课观看率+抖音点赞数
			                                </label>
			                                <input type="radio" id="B40" value="B" name="a40" />
			                                <label for="B40" class="rel" @click="answerFun($event)">
			                                	<span>B</span>抖音点赞数+线上考核平均分
			                                </label>
			                                <input type="radio" id="C40" value="C" name="a40" />
			                                <label for="C40" class="rel" @click="answerFun($event)">
			                                	<span>C</span>线上考核平均分
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q41 -->
						<div v-if="qArr.a41 != undefined && qArr.a41 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q41"><span class="tnum">41.</span>高端男士护肤市场逐年在增长。</div>
										<div class="a a41">
			                                <input type="radio" id="A41" value="A" name="a41" />
			                                <label for="A41" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B41" value="B" name="a41" />
			                                <label for="B41" class="rel" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q42 -->
						<div v-if="qArr.a42 != undefined && qArr.a42 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q42"><span class="tnum">42.</span>男生脸部容易出油，所以要一直洗脸，并一周做4-5次去角质深层清洁。</div>
										<div class="a a42">
			                                <input type="radio" id="A42" value="A" name="a42" />
			                                <label for="A42" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B42" value="B" name="a42" />
			                                <label for="B42" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q43 -->
						<div v-if="qArr.a43 != undefined && qArr.a43 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q43"><span class="tnum">43.</span>男士清洁后不及时涂抹护肤品，容易有油脂，污染进入毛孔，更容易堵塞毛孔，引发过油，痘痘，粗糙等问题。</div>
										<div class="a a43">
			                                <input type="radio" id="A43" value="A" name="a43" />
			                                <label for="A43" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B43" value="B" name="a43" />
			                                <label for="B43" class="rel" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q44 -->
						<div v-if="qArr.a44 != undefined && qArr.a44 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q44"><span class="tnum">44.</span>碧欧泉水动力洗面奶清洁力强，是膏状颗粒质地。</div>
										<div class="a a44">
			                                <input type="radio" id="A44" value="A" name="a44" />
			                                <label for="A44" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B44" value="B" name="a44" />
			                                <label for="B44" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q45 -->
						<div v-if="qArr.a45 != undefined && qArr.a45 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q45"><span class="tnum">45.</span>碧欧泉水动力系列中含有独家成分活源精粹，可以强韧屏障，锁住水分，减少肌肤受损。</div>
										<div class="a a45">
			                                <input type="radio" id="A45" value="A" name="a45" />
			                                <label for="A45" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B45" value="B" name="a45" />
			                                <label for="B45" class="rel" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q46 -->
						<div v-if="qArr.a46 != undefined && qArr.a46 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q46"><span class="tnum">46.</span>男士防晒霜有增白提亮的效果。</div>
										<div class="a a46">
			                                <input type="radio" id="A46" value="A" name="a46" />
			                                <label for="A46" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B46" value="B" name="a46" />
			                                <label for="B46" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q47 -->
						<div v-if="qArr.a47 != undefined && qArr.a47 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q47"><span class="tnum">47.</span>碧欧泉蓝钻系列的抗老成分只有玻色因。</div>
										<div class="a a47">
			                                <input type="radio" id="A47" value="A" name="a47" />
			                                <label for="A47" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B47" value="B" name="a47" />
			                                <label for="B47" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q48 -->
						<div v-if="qArr.a48 != undefined && qArr.a48 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q48"><span class="tnum">48.</span>碧欧泉蓝钻系列味道高级，自带古龙香水的气息。</div>
										<div class="a a48">
			                                <input type="radio" id="A48" value="A" name="a48" />
			                                <label for="A48" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B48" value="B" name="a48" />
			                                <label for="B48" class="rel" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q49 -->
						<div v-if="qArr.a49 != undefined && qArr.a49 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q49"><span class="tnum">49.</span>男士产品主要的销售对象是男性消费者。</div>
										<div class="a a49">
			                                <input type="radio" id="A49" value="A" name="a49" />
			                                <label for="A49" class="rel first" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B49" value="B" name="a49" />
			                                <label for="B49" class="rel green" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
						<!-- q50 -->
						<div v-if="qArr.a50 != undefined && qArr.a50 != null" class="swiper-slide">
							<div class="box-border center">
								<div class="box-con rel overflow">
									<img class="full-w" src="@/assets/img/common/bg-qa.png">
									<pt :num="index" :text="time"></pt>
									<div class="box-qa full-w abs left">
										<div class="q q50"><span class="tnum">50.</span>要让消费者意识到男性肌肤与女性肌肤的不同，引导男性消费者选择专属男士的护肤品牌。</div>
										<div class="a a50">
			                                <input type="radio" id="A50" value="A" name="a50" />
			                                <label for="A50" class="rel first green" @click="answerFun($event)">
			                                	<span>A</span>对
			                                </label>
			                                <input type="radio" id="B50" value="B" name="a50" />
			                                <label for="B50" class="rel" @click="answerFun($event)">
			                                	<span>B</span>错
			                                </label>
				        				</div>
				        			</div>
				        			<img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" alt="回看进度" @click="modalProgress">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- modal progress -->
				<transition name="fade" mode="out-in">
					<div v-show="modalProgressShow" class="modal modal-progress box-border abs top left right center" @click="closeModal">
						<div class="box-con rel overflow">
							<img class="full-w" src="@/assets/img/common/bg-qa.png">
							<img class="titlem full-w abs left" src="@/assets/img/test/titlem.png">
				    		<ul class="full-w abs left text-center">
				    			<li @click="toSlide(0)">
				    				<img v-if="modalArr.indexOf(1) < 0" class="full-w" src="@/assets/img/test/num2/1.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/1-checked.png">
				    			</li>
				    			<li @click="toSlide(1)">
				    				<img v-if="modalArr.indexOf(2) < 0" class="full-w" src="@/assets/img/test/num2/2.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/2-checked.png">
				    			</li>
				    			<li @click="toSlide(2)">
				    				<img v-if="modalArr.indexOf(3) < 0" class="full-w" src="@/assets/img/test/num2/3.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/3-checked.png">
				    			</li>
				    			<li @click="toSlide(3)">
				    				<img v-if="modalArr.indexOf(4) < 0" class="full-w" src="@/assets/img/test/num2/4.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/4-checked.png">
				    			</li>
				    			<li @click="toSlide(4)">
				    				<img v-if="modalArr.indexOf(5) < 0" class="full-w" src="@/assets/img/test/num2/5.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/5-checked.png">
				    			</li>
				    			<li @click="toSlide(5)">
				    				<img v-if="modalArr.indexOf(6) < 0" class="full-w" src="@/assets/img/test/num2/6.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/6-checked.png">
				    			</li>
				    			<li @click="toSlide(6)">
				    				<img v-if="modalArr.indexOf(7) < 0" class="full-w" src="@/assets/img/test/num2/7.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/7-checked.png">
				    			</li>
				    			<li @click="toSlide(7)">
				    				<img v-if="modalArr.indexOf(8) < 0" class="full-w" src="@/assets/img/test/num2/8.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/8-checked.png">
				    			</li>
				    			<li @click="toSlide(8)">
				    				<img v-if="modalArr.indexOf(9) < 0" class="full-w" src="@/assets/img/test/num2/9.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/9-checked.png">
				    			</li>
				    			<li @click="toSlide(9)">
				    				<img v-if="modalArr.indexOf(10) < 0" class="full-w" src="@/assets/img/test/num2/10.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/10-checked.png">
				    			</li>
				    			<li @click="toSlide(10)">
				    				<img v-if="modalArr.indexOf(11) < 0" class="full-w" src="@/assets/img/test/num2/11.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/11-checked.png">
				    			</li>
				    			<li @click="toSlide(11)">
				    				<img v-if="modalArr.indexOf(12) < 0" class="full-w" src="@/assets/img/test/num2/12.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/12-checked.png">
				    			</li>
				    			<li @click="toSlide(12)">
				    				<img v-if="modalArr.indexOf(13) < 0" class="full-w" src="@/assets/img/test/num2/13.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/13-checked.png">
				    			</li>
				    			<li @click="toSlide(13)">
				    				<img v-if="modalArr.indexOf(14) < 0" class="full-w" src="@/assets/img/test/num2/14.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/14-checked.png">
				    			</li>
				    			<li @click="toSlide(14)">
				    				<img v-if="modalArr.indexOf(15) < 0" class="full-w" src="@/assets/img/test/num2/15.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/15-checked.png">
				    			</li>
				    			<li @click="toSlide(15)">
				    				<img v-if="modalArr.indexOf(16) < 0" class="full-w" src="@/assets/img/test/num2/16.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/16-checked.png">
				    			</li>
				    			<li @click="toSlide(16)">
				    				<img v-if="modalArr.indexOf(17) < 0" class="full-w" src="@/assets/img/test/num2/17.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/17-checked.png">
				    			</li>
				    			<li @click="toSlide(17)">
				    				<img v-if="modalArr.indexOf(18) < 0" class="full-w" src="@/assets/img/test/num2/18.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/18-checked.png">
				    			</li>
				    			<li @click="toSlide(18)">
				    				<img v-if="modalArr.indexOf(19) < 0" class="full-w" src="@/assets/img/test/num2/19.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/19-checked.png">
				    			</li>
				    			<li @click="toSlide(19)">
				    				<img v-if="modalArr.indexOf(20) < 0" class="full-w" src="@/assets/img/test/num2/20.png">
				    				<img v-else class="full-w" src="@/assets/img/test/num2/20-checked.png">
				    			</li>
				    		</ul>
				    		<img class="btn-close abs top left" src="@/assets/img/common/close.png">
						</div>
					</div>
				</transition>
				<!-- modal loading -->
				<transition name="fade" mode="out-in">
				    <div v-show="modalLoadingShow" class="modal modal-loading abs centerh left right center">
				    	<div class="loader abs centerh left right center"></div>
				    </div>
				</transition>
				<img class="molecule molecule1 abs" src="@/assets/img/test/molecule1.png">
				<img class="molecule molecule2 abs" src="@/assets/img/test/molecule2.png">
				<button v-show="!modalProgressShow && !modalLoadingShow" type="button" class="btn-swiper btn-prev abs">
	        		<img class="full-w" src="@/assets/img/test/arrowl.png">
	        	</button>
	    		<button v-show="!modalProgressShow && !modalLoadingShow" type="button" class="btn-swiper btn-next abs" @click="toEnd">
	    			<img class="full-w" src="@/assets/img/test/arrowr.png">
	    		</button>
			</div>
			<div class="box-banner rel pe-none">
				<img class="full-w" src="@/assets/img/test/banner.png">
			</div>
		</div>
		<!-- license -->
        <div class="box-license full-w abs left text-center">
            <p>©L'Oreal China 欧莱雅 (中国)有限公司版权所有</p>
            <a href="http://wap.scjgj.sh.gov.cn/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020190725104930000004878268-SAIC_SHOW_310000-20120625151312891511&amp;signData=MEUCIQD8CbKY2AHDXG6vvZUiEQ9I7Lu8kbhHJMS1WIzTQ9rzRwIgPd8C98fj5Ho3P7ZkwdOeBc6wbeEsLuPM921ReyLZ0+g=">
                <img class="rel" src="@/assets/img/common/icp1.jpg">上海工商
            </a>
            <a href="https://beian.miit.gov.cn/#/Integrated/index"> 沪ICP备08100043号-26</a>
            <br />
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602001504">
                <img class="rel" src="@/assets/img/common/icp2.png">沪公网安备 31010602001504号
            </a>
        </div>
		<div class="font-test abs top left hidden">测试</div>
	</div>
</template>

<script src="@/assets/js/test.js"></script>
