<style lang="scss" scoped src="@/assets/css/progress.scss"></style>

<template>
	<div class="box-pt abs left right center">
		<div class="box-progress rel overflow">
			<div class="bg-count">
				<img class="opacity0" src="@/assets/img/test/total.png" alt="/20">
			</div>
    		<div class="bar full-h abs top left" :style="{width: (index + 1)/20 * 100 + '%'}"></div>
    		<div class="box-count full-w full-h abs top left text-center">
    			<img v-show="(index + 1) == 1" class="full-h" src="@/assets/img/test/num/1.png" alt="1">
    			<img v-show="(index + 1) == 2" class="full-h" src="@/assets/img/test/num/2.png" alt="2">
    			<img v-show="(index + 1) == 3" class="full-h" src="@/assets/img/test/num/3.png" alt="3">
    			<img v-show="(index + 1) == 4" class="full-h" src="@/assets/img/test/num/4.png" alt="4">
    			<img v-show="(index + 1) == 5" class="full-h" src="@/assets/img/test/num/5.png" alt="5">
    			<img v-show="(index + 1) == 6" class="full-h" src="@/assets/img/test/num/6.png" alt="6">
    			<img v-show="(index + 1) == 7" class="full-h" src="@/assets/img/test/num/7.png" alt="7">
    			<img v-show="(index + 1) == 8" class="full-h" src="@/assets/img/test/num/8.png" alt="8">
    			<img v-show="(index + 1) == 9" class="full-h" src="@/assets/img/test/num/9.png" alt="9">
    			<img v-show="(index + 1) == 10" class="full-h" src="@/assets/img/test/num/10.png" alt="10">
    			<img v-show="(index + 1) == 11" class="full-h" src="@/assets/img/test/num/11.png" alt="11">
    			<img v-show="(index + 1) == 12" class="full-h" src="@/assets/img/test/num/12.png" alt="12">
    			<img v-show="(index + 1) == 13" class="full-h" src="@/assets/img/test/num/13.png" alt="13">
    			<img v-show="(index + 1) == 14" class="full-h" src="@/assets/img/test/num/14.png" alt="14">
    			<img v-show="(index + 1) == 15" class="full-h" src="@/assets/img/test/num/15.png" alt="15">
    			<img v-show="(index + 1) == 16" class="full-h" src="@/assets/img/test/num/16.png" alt="16">
    			<img v-show="(index + 1) == 17" class="full-h" src="@/assets/img/test/num/17.png" alt="17">
    			<img v-show="(index + 1) == 18" class="full-h" src="@/assets/img/test/num/18.png" alt="18">
    			<img v-show="(index + 1) == 19" class="full-h" src="@/assets/img/test/num/19.png" alt="19">
    			<img v-show="(index + 1) == 20" class="full-h" src="@/assets/img/test/num/20.png" alt="20">
    			<img class="full-h" src="@/assets/img/test/total.png" alt="/20">
    		</div>
    	</div>
    	<div class="box-time text-center">剩余时间：{{time.minutes}}分钟{{time.seconds}}秒</div>
	</div>
</template>

<script>
	export default {
		name: 'pt',
		props: {
			num: Number,
			text: {
	            type: Object,
	            default() {
	                return {
	                    minutes: 20,
	                    seconds: 0
	                }
	            }
	        }
		},
		data() {
			return {
				index: this.num,
				time: this.text
			};
		},
		watch: {
			getindex: {
				handler(newVal) {
					this.index = newVal;
				}
			},
		},
		computed: {
			getindex() {
				return this.num;
			}
		}
	};
</script>
