<style lang="scss" scoped src="@/assets/css/review.scss"></style>

<template>
	<transition name="fade" mode="out-in">
		<div class="modal-review full-w full-h abs top left" v-show="isShow">
			<!-- bg -->
			<img class="bg-top full-w abs top left" src="@/assets/img/common/bg-top.png">
			<img class="bg-bottom1 full-w abs bottom left" src="@/assets/img/common/bg-bottom3.png">
			<img class="bg-bottom2 full-w abs bottom left" src="@/assets/img/common/bg-bottom4.png">
			<img class="bg-bottom3 full-w abs bottom left" src="@/assets/img/common/bg-bottom5.png">
			<!-- logo -->
			<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
			<div class="box-all full-w abs left">
				<div class="box-review rel">
					<div class="box-border center">
						<div class="box-con rel overflow">
							<img class="full-w" src="@/assets/img/common/bg-qa.png">
							<img class="titlem full-w abs left" src="@/assets/img/review/titlem.png">
				    		<ul class="full-w abs text-center">
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[0]]" class="full-w" src="@/assets/img/review/num/1.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/1-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[1]]" class="full-w" src="@/assets/img/review/num/2.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/2-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[2]]" class="full-w" src="@/assets/img/review/num/3.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/3-error.png" @click="showDetail($event)">
				    				<div class="detail"></div>
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[3]]" class="full-w" src="@/assets/img/review/num/4.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/4-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[4]]" class="full-w" src="@/assets/img/review/num/5.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/5-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[5]]" class="full-w" src="@/assets/img/review/num/6.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/6-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[6]]" class="full-w" src="@/assets/img/review/num/7.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/7-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[7]]" class="full-w" src="@/assets/img/review/num/8.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/8-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[8]]" class="full-w" src="@/assets/img/review/num/9.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/9-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[9]]" class="full-w" src="@/assets/img/review/num/10.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/10-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[10]]" class="full-w" src="@/assets/img/review/num/11.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/11-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[11]]" class="full-w" src="@/assets/img/review/num/12.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/12-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[12]]" class="full-w" src="@/assets/img/review/num/13.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/13-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[13]]" class="full-w" src="@/assets/img/review/num/14.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/14-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[14]]" class="full-w" src="@/assets/img/review/num/15.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/15-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[15]]" class="full-w" src="@/assets/img/review/num/16.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/16-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[16]]" class="full-w" src="@/assets/img/review/num/17.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/17-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[17]]" class="full-w" src="@/assets/img/review/num/18.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/18-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[18]]" class="full-w" src="@/assets/img/review/num/19.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/19-error.png" @click="showDetail($event)">
				    			</li>
				    			<li>
				    				<img v-if="reArr[Object.keys(reArr)[19]]" class="full-w" src="@/assets/img/review/num/20.png" @click="hideDetail">
				    				<img v-else class="full-w" src="@/assets/img/review/num/20-error.png" @click="showDetail($event)">
				    			</li>
				    		</ul>
				    		<div class="scrollbar abs"></div>
				    		<div class="box-detail full-w abs left">
				    			<img v-show="detail == 1" class="full-w" src="@/assets/img/review/detail1.png">
				    			<img v-show="detail == 2" class="full-w" src="@/assets/img/review/detail2.png">
				    			<img v-show="detail == 3" class="full-w" src="@/assets/img/review/detail3.png">
				    			<img v-show="detail == 4" class="full-w" src="@/assets/img/review/detail4.png">
				    			<img v-show="detail == 5" class="full-w" src="@/assets/img/review/detail5.png">
				    			<img v-show="detail == 6" class="full-w" src="@/assets/img/review/detail6.png">
				    			<img v-show="detail == 7" class="full-w" src="@/assets/img/review/detail7.png">
				    			<img v-show="detail == 8" class="full-w" src="@/assets/img/review/detail8.png">
				    			<img v-show="detail == 9" class="full-w" src="@/assets/img/review/detail9.png">
				    		</div>
				    		<img class="btn-retest abs left right center" src="@/assets/img/common/btn-retest.png" @click="toHome">
				    		<img class="btn-close abs top left" src="@/assets/img/common/close.png" @click="back">
						</div>
					</div>
					<img class="molecule molecule1 abs" src="@/assets/img/test/molecule1.png">
					<img class="molecule molecule2 abs" src="@/assets/img/test/molecule2.png">
				</div>
				<div class="box-banner rel pe-none">
					<img class="full-w" src="@/assets/img/review/banner.png">
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	export default {
		name: 'review',
		props: {
			param: Boolean
		},
		data() {
			return {
				isShow: this.param,
				reArr: {},
				detail: 0
			};
		},
		watch: {
			getparam: {
				handler(newVal) {
					this.isShow = newVal;
				}
			},
		},
		computed: {
			getparam() {
				return this.param;
			}
		},
		created() {
			this.checkError();
		},
		mounted() {
			this.checkIsShow();
		},
		methods: {
			// check error arr
			checkError() {
				if(this.$root.isset(JSON.parse(sessionStorage.getItem('errorArr')))) {
					this.reArr = JSON.parse(sessionStorage.getItem('errorArr'));
				};
			},
			checkIsShow() {
				let getIsShow = setInterval(() => {
					if(this.isShow) {
						clearInterval(getIsShow);
						this.setScroll(22.4, 0.31);
					};
				}, 30);
			},
			// set scroll
			setScroll(ulTop, ulHeight) {
				let h, H,
					getH = setInterval(() => {
						if($('.modal-review ul').height() > 0) {
							clearInterval(getH);
							h = $('.modal-review ul').height(); // 显示高度
							H = $('.modal-review ul').prop('scrollHeight'); // 真实高度
							$('.modal-review .scrollbar').height(h/H * 100 * ulHeight + '%'); // 滚动条高度
							$('.modal-review ul').on('scroll', () => {
								let scroll = $('.modal-review ul').scrollTop() / H * 100 * ulHeight; // 滚动的长度
								if((scroll > 0) && (scroll < (H - h) / H * 100 * ulHeight)) {
									$('.modal-review .scrollbar').css('top', (ulTop + scroll)  + '%');
								};
							});
						};
				}, 30);
			},
			// back
			back() {
				this.$emit('paramChange');
			},
			// detail
			showDetail(e) {
				let index = $($(e.currentTarget).parents('li')).index(),
					n = Number(Object.keys(this.reArr)[index].substr(1));
				switch(true) {
					case n >= 1 && n <= 5:
						this.detail = 1;
						break;
					case n >= 6 && n <= 15:
						this.detail = 2;
						break;
					case n >= 16 && n <= 25:
						this.detail = 3;
						break;
					case n >= 26 && n <= 35:
						this.detail = 4;
						break;
					case n >= 36 && n <= 38:
						this.detail = 5;
						break;
					case n >= 39 && n <= 40:
						this.detail = 6;
						break;
					case n == 41:
						this.detail = 7;
						break;
					case n >= 42 && n <= 43:
						this.detail = 8;
						break;
					case n >= 44 && n <= 48:
						this.detail = 9;
						break;
					case n >= 49 && n <= 50:
						this.detail = 5;
						break;
					default: //
				};
			},
			// hide detail
			hideDetail() {
				this.detail = 0;
			},
			// to home
			toHome() {
				this.$router.replace('/home');
			}
		}
	};
</script>
